@import "tailwindcss";
@import "@nuxt/ui";
/* @import url("https://fonts.googleapis.com/css2?family=Oswald&family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap"); */

@media print {
  body {
    margin: 0 !important;
  }
}

:root {
  --ck-content-font-family: "Lato";
}

.main-container {
  font-family: var(--ck-content-font-family);
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.editor-container_classic-editor .editor-container__editor {
  min-width: 795px;
  max-width: 795px;
}

.editor-container__sidebar_ckeditor-ai:has(.ck-tabs.ck-hidden) {
  max-width: 0;
  min-width: 0;
}

.ck-content h3.category {
  font-family: "Oswald";
  font-size: 20px;
  font-weight: bold;
  color: #555;
  letter-spacing: 10px;
  margin: 0;
  padding: 0;
}

.ck-content h2.document-title {
  font-family: "Oswald";
  font-size: 50px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  border: 0;
}

.ck-content h3.document-subtitle {
  font-family: "Oswald";
  font-size: 20px;
  color: #555;
  margin: 0 0 1em;
  font-weight: bold;
  padding: 0;
}

.ck-content p.info-box {
  --background-size: 30px;
  --background-color: #e91e63;
  padding: 1.2em 2em;
  border: 1px solid var(--background-color);
  background: linear-gradient(
      135deg,
      var(--background-color) 0%,
      var(--background-color) var(--background-size),
      transparent var(--background-size)
    ),
    linear-gradient(
      135deg,
      transparent calc(100% - var(--background-size)),
      var(--background-color) calc(100% - var(--background-size)),
      var(--background-color)
    );
  border-radius: 10px;
  margin: 1.5em 2em;
  box-shadow: 5px 5px 0 #ffe6ef;
}

.ck-content span.marker {
  background: yellow;
}

.ck-content span.spoiler {
  background: #000;
  color: #000;
}

.ck-content span.spoiler:hover {
  background: #000;
  color: #fff;
}

.ck-content .button {
  display: inline-block;
  width: 260px;
  border-radius: 8px;
  margin: 0 auto;
  padding: 12px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.ck-content .button--green {
  background-color: #406b1e;
}

.ck-content .button--black {
  background-color: #141517;
}

@theme {
  --color-primary: #75624c;
  --color-primary-50: #f5f4f2;
  --color-primary-90: #a08565;
  --color-primary-100: #eae8e4;
  --color-primary-200: #d5d1c9;
  --color-primary-300: #c0baae;
  --color-primary-400: #aba393;
  --color-primary-500: #75624c;
  --color-primary-600: #5e4f3d;
  --color-primary-700: #473c2e;
  --color-primary-800: #30291f;
  --color-primary-900: #191610;

  --color-secondary: #fcfcfe;
  --color-secondary-10: #f8f9fd;
  --color-secondary-20: #eef0f6;
  --color-secondary-30: #e5e6eb;
  --color-secondary-40: #e5e8f0;
  --color-secondary-50: #dde1eb;
  --color-secondary-60: #d5d9e5;
  --color-secondary-70: #c9cfdd;
  --color-secondary-80: #b4bcce;
  --color-secondary-90: #878ea0;
  --color-secondary-100: #7d8394;
  --color-secondary-110: #5f6472;
  --color-secondary-120: #1d202a;

  --font-rajdhani: "Rajdhani", sans-serif;
  --font-inter: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.editor ol {
  list-style-type: decimal;
  padding-left: 20px;
}
.editor ul {
  list-style-type: disc;
  padding-left: 20px;
}
